.modalx{
    margin: auto;  /* MUY IMPORTANTE PARA CENTRARLO */
    border: none; /* QUITARE EL BORDE POR DEFECTO */ 
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;


  }
  
 .modalx::backdrop { /* PARA CAMBIAR EL FONDO DE DETRAS DE UN MODAL, EL OSCURECIMIENTO DE POR DEFECTO */
    background: rgba(0, 0, 0, 0.5);
  }


.modal1{
    margin: auto;  /* MUY IMPORTANTE PARA CENTRARLO */
    border: none; /* QUITARE EL BORDE POR DEFECTO */ 
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;


  }
