.modalx{
    margin: auto;  /* MUY IMPORTANTE PARA CENTRARLO */
    border: none; /* QUITARE EL BORDE POR DEFECTO */ 
    background: #111111bd;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


  }
  
  .modalx::backdrop { /* PARA CAMBIAR EL FONDO DE DETRAS DE UN MODAL, EL OSCURECIMIENTO DE POR DEFECTO */
    background: rgba(0, 0, 0, 0.7);
  }