@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}




.form-box{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff; /* Color de texto en blanco */
  caret-color: #ffffff; /* Color del cursor en blanco */
  background-color: #000000; /* Color de fondo en negro */
}



.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}

.btn {
  position: relative;
  display: block;
  height: 50px;
  width: 300px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  overflow: hidden;
  transition: all 500ms ease;
  margin-bottom: 30px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #fff;
    transition: all 500ms ease;
    z-index: -1;
  }
  .btn--1::before {
    width: 0;
    height: 100%;
  }
  .btn--1:hover {
    color: #434343;
  }
  .btn--1:hover::before {
    width: 100%;

}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}




@media screen and (max-width:768px){
    .fanimado{
        background-repeat: no-repeat;
        padding: 8% 0;
    }
    .form-box{
        margin: 0 auto;
    }
}

@media screen and (max-width:425px){
    .fanimado{
        padding: 4% 0;
    }
    .form-box{
        width: 90%;
    }
    .fanimado h2{
        font-size: 1.5em;
    }
    button{
        font-size: 1em;
    }
}


.fanimado{
    background-image: linear-gradient(135deg,#00B7D4, #505488,#2F3F80, #161569,#5A4894,#A950A1 ,#FF7CAE);
    background-size: 500%;
    -webkit-animation: fanimado 10s infinite; /* Safari y Chrome */
    -moz-animation: fanimado 10s infinite; /* Firefox */
    -o-animation: fanimado 10s infinite; /* Opera */
    animation: fanimado 10s infinite;
}

@-webkit-keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@-moz-keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@-o-keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}


@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap') format('woff2');
    font-weight: 500;
    font-style: normal;
}


.inputbox .icon{
    position: absolute;
    height: 30%;
    top: 20px;
    right: 8px;
    transform: translateY(-50%);
    opacity: 0.3;
    cursor: pointer;
    font-size:1.2rem;
    color: #fff;
}

.icon:hover{

    opacity: 0.8;
}

.google-button {
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color:#3484EC;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 0;
    
    
  }
  
  .google-button:active {
    background-color: #3367D6;
    transition: background-color .2s;
  }
  
  .google-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .google-button img {
    width: 19px;
    height: 20px;
  }
  
  .google-button .logo-wrapper {
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
    margin-left: -77px;
  }
  
  .google-button .text-container {
    font-family: "Google Sans",arial,sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    width: 180px;
    text-align: right;
  }
  

.space{
    margin-bottom: 50px;
}